html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

.body {
  display: flex;
  overflow-x: auto;
  background-image: url("background.jpg");
  background-position: center;
  background-size: cover;
  align-items: center;
  flex-direction: column;
}